{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Moul&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todo/login.css' %}">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="Container">
            
            <div class="Register">
                <div class="heading"><h3>To<span>Do</span> App</h3></div>
                {% if form.non_field_errors %}
                <div class="error-message">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% if form.username.errors %}
                    <div class="error-message">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.password.errors %}
                    <div class="error-message">
                        {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-details">{{ form.username }}</div>
                <div class="form-details">{{ form.password }}</div>
                
                <button  class="Login-btn"type="submit">Login</button>
                <div class="Register-link"><span>Dont have an account? </span><a href="{% url 'Register'%}">Register</a></div>
                
            </div>
        </div>
        
    </form>  
</body>
</html>
