{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Moul&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todo/Register.css' %}">
</head>
<body>
    <form action="{% url 'Register'%}" method="post">
        {% csrf_token %}
        <div class="Container">
            
            <div class="Register">
                <div class="heading"><h3>To<span>Do</span> App</h3></div>
                <div class="form-details"> {{form.username}}
                </div>
                {% if form.username.errors %}
                <div class="error-message">
                    {% for error in form.username.errors %}
                        <h1 class="error">{{ error }}</h1>  
                    {% endfor %}
                </div>
                {% endif %}
                <div class="form-details">{{form.password1}}</div>
                {% if form.password1.errors %}
                        <div class="error-message">
                            {% for error in form.password1.errors %}
                                <h1 class="error">{{ error }}</h1>  
                            {% endfor %}
                        </div>
                {% endif %}
                <div class="form-details">{{form.password2}}</div>
                {% if form.password2.errors %}
                        <div class="error-message">
                            {% for error in form.password2.errors %}
                                <h1 class="error">{{ error }}</h1>  
                            {% endfor %}
                        </div>
                {% endif %}
                <button class="Register-btn" type="submit">Register</button>
                
                <div class="login-link"><span>Already have an account? </span><a href="{% url 'login'%}">Login</a></div>
            </div>
           

            
        </div>
                    
            
       
        
        <h1>
           
        </h1>
        
    </form>
</body>
</html>

